.carouselContainer{
    height: 150px;
    width: 450px;
    display: flex;
    align-items: center;
}
.carouselWindow{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.carouselItems{
    height: 100%;
    display: flex;
    transition: 0.3s ease-in-out;
}
.arrow{
    cursor: pointer;
}